$whiteColorBg: #ffffff;
$lightGrayColorBg: #EBEBDE;
$grayColorBg: #888888;
$orangeColorBg: #ffa500;
$brownColorBg: #b7903c;
$blueColorBg: #000026;
$magentaColorBg: #ee2852;
$redColorBg: #d2401e;
$whiteColorTx: #ffffff;
$lightGrayColorTx: #cdcdcd;
$grayColorTx: #8f8f8f;
$darkGrayColorTx: #5a5a5a;
$brownColorTx: #b7903c;
$greenColorTx: #339966;
$redColorTx: #d2401e;
$lightBlackColorTx: #2d2d2d;
$blackColorTx: #000000;
$whiteColorFill: #ffffff;
$grayColorFill: #8f8f8f;
$darkGrayColorFill: #303030;
$magentaColorFill: #ee2852;
$redColorFill: #ee2852;
$lightblackColorFill: #2d2d2d;
$blackColorFill: #000000;
$whiteColorBd: #f6f7f2;
$grayColorBd: #e4e4d4;
$brownColorBd: #b7903c;
$redColorBd: #d2401e;
$blackColorBd: #1f1f1f;

